@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

html {
    scroll-behavior: smooth;
  }

body{
    background: rgb(6,6,29);
    background: linear-gradient(9deg, rgba(6,6,29,1) 10%, rgba(12,1,58,1) 53%, rgba(11,7,28,1) 94%);
    font-family: 'Fira Sans', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.navbar > a {
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-size: 24px;
    margin: 15px 0px;
    cursor: pointer;
}

.navbar > a:hover {
    color: #38F677;
    
}

.aboutme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 150px;
    margin-bottom: 300px;
}

.aboutme > .welcome > h1 {
    margin: 3px 0px;
    font-size: 68px;
    color: white;
}
.aboutme > .welcome > h2 {
    margin: 10px 0px;
    font-size: 38px;
    color: #38F677;
    
}
.aboutme > .welcome > h3 {
    margin: 10px 0px;
    font-size: 34px;
    color: white;
    font-weight: normal;
}
.aboutme > .welcome > h4{
    margin: 5px 0px;
    font-size: 27px;
    color: white;
    font-weight: normal;
}

.aboutme > img {
    width: 30vw;
    height: 30vw;
}

.skills{
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}
.skillspans{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills > .skillcont > .skillspans > span > img {
    width: 110px;
    height: 110px;
}

.skillcont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 0px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
  
  .skillspans:hover span {
    transition: transform 0.3s ease-out;
  }
  
  .span-icon {
    padding: 10px;
  }
  
  .span-text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
  }

  .span-text > h2 {
    font-weight: normal;
  }
  
  .skillspans:hover .span-icon {
    transform: translateY(-200%);
  }
  
  .skillspans:hover .span-text {
    transform: none;
  }

.portfolio {
    margin-bottom: 300px;
}

.portfolio > .frikipedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio > .frikipedia > a > img {
    width: 940px;
    height: 550px;
}

.portfolio > .frikipedia > h1 {
    margin: 3px 0px;
    font-size: 58px;
    color:#38F677;
}

.portfolio > .frikipedia > h3 {
    margin: 10px 0px;
    font-size: 30px;
    color: white;
    font-weight: normal;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 300px 0px;
}

.contact > div a img {
    width: 125px;
    height: 125px;
}

.contact > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

