
.portfolio {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px
}

.portfolio > .div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio > div > a > img {
    width: 680px;
    height: 400px;
}

.portfolio > div > a {
    text-decoration: none;
    margin: 2px 0px;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: normal;
}

.portfolio > .frikipedia > a > h1 {
    text-decoration: none;
    margin: 2px 0px;
    font-size: 35px;
    color:#ff1b87;
    letter-spacing: 2px;
    font-weight: normal
}
.portfolio > .rework > a > h1 {
    text-decoration: none;
    margin: 2px 0px;
    font-size: 35px;
    color:#e76f51;
    letter-spacing: 2px;
}
.portfolio > .madeira > a > h1 {
    text-decoration: none;
    margin: 2px 0px;
    font-size: 35px;
    color:#FCA311;
    letter-spacing: 2px;
}

.portfolio > div > h3 {
    margin: 8px 0px;
    font-size: 24px;
    color: white;
    font-weight: 250;
}

@media (max-width: 1270px){
    .portfolio {
        gap: 30px;
        padding: 80px 0px;
    }
    
    .portfolio > .frikipedia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .frikipedia > a > img {
        width: 760px;
        height: 430px;
    }
    
    .portfolio > .frikipedia > a {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .frikipedia > a > h1 {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .frikipedia > h3 {
        margin: 8px 0px;
        font-size: 24px;
        font-weight: 250;
    }
    .portfolio > .rework {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .rework > a > img {
        width: 760px;
        height: 430px;
    }
    
    .portfolio > .rework > a {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .rework > a > h1 {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .rework > h3 {
        margin: 8px 0px;
        font-size: 24px;
        font-weight: 250;
    }
    .portfolio > .madeira {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .madeira > a > img {
        width: 760px;
        height: 430px;
    }
    
    .portfolio > .madeira > a {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .madeira > a > h1 {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 50px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .madeira > h3 {
        margin: 8px 0px;
        font-size: 24px;
        font-weight: 250;
    }
}
@media (max-width: 1100px){
    .portfolio {
        padding: 70px 0px;
        gap: 25px
    }
    
    .portfolio > .frikipedia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .frikipedia > a > img {
        width: 610px;
        height: 325px;
    }
    
    .portfolio > .frikipedia > a {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .frikipedia > a > h1 {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .frikipedia > h3 {
        margin: 8px 0px;
        font-size: 20px;
        font-weight: 250;
    }

    .portfolio > .rework {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .rework > a > img {
        width: 610px;
        height: 325px;
    }
    
    .portfolio > .rework > a {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .rework > a > h1 {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .rework > h3 {
        margin: 8px 0px;
        font-size: 20px;
        font-weight: 250;
    }
    .portfolio > .madeira {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .madeira > a > img {
        width: 610px;
        height: 325px;
    }
    
    .portfolio > .madeira > a {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .madeira > a > h1 {
        text-decoration: none;
        margin: 2px 0px;
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: normal;
    }
    
    .portfolio > .madeira > h3 {
        margin: 8px 0px;
        font-size: 20px;
        font-weight: 250;
    }
}
@media (max-width: 1000px){
    .portfolio {
        padding: 200px 0px;
        gap: 20px
    }
    
    .portfolio > .frikipedia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .frikipedia > a > img {
        width: 80vw;
        height: 45vw;
    }
    
    .portfolio > .frikipedia > a {
        text-decoration: none;
        margin: 5px 0px;
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    
    .portfolio > .frikipedia > a > h1 {
        text-decoration: none;
        margin: 5px 0px;
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    
    .portfolio > .frikipedia > h3 {
        margin: 8px 10vw;
        font-size: 17px;
        color: white;
        font-weight: 250;
        text-overflow: ellipsis;
        text-align: center;
    }    
    .portfolio > .rework {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .rework > a > img {
        width: 80vw;
        height: 45vw;
    }
    
    .portfolio > .rework > a {
        text-decoration: none;
        margin: 5px 0px;
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    
    .portfolio > .rework > a > h1 {
        text-decoration: none;
        margin: 5px 0px;
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    
    .portfolio > .rework > h3 {
        margin: 8px 10vw;
        font-size: 17px;
        font-weight: 250;
        text-overflow: ellipsis;
        text-align: center;
    }
    .portfolio > .madeira {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .portfolio > .madeira > a > img {
        width: 80vw;
        height: 45vw;
    }
    
    .portfolio > .madeira > a {
        text-decoration: none;
        margin: 5px 0px;
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    
    .portfolio > .madeira > a > h1 {
        text-decoration: none;
        margin: 5px 0px;
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    
    .portfolio > .madeira > h3 {
        margin: 8px 10vw;
        font-size: 17px;
        font-weight: 250;
        text-overflow: ellipsis;
        text-align: center;
    }
}
