@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

html {
    scroll-behavior: smooth;
  }

body{
    background: rgb(6,6,29);
    background: linear-gradient(9deg, rgba(6,6,29,1) 10%, rgba(12,1,58,1) 53%, rgba(11,7,28,1) 94%);
    font-family: 'Fira Sans', sans-serif;
}
